<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%- include('partials/document-head', {
    pageTitle: typeof pageTitle !== 'undefined' ? pageTitle : (typeof title !== 'undefined' ? title : ''),
    fullTitle: typeof fullTitle !== 'undefined' ? fullTitle : '',
    accountPage: typeof accountPage !== 'undefined' && accountPage,
    loginTabsScript: typeof loginTabsScript !== 'undefined' && loginTabsScript,
    authValidationScript: typeof authValidationScript !== 'undefined' && authValidationScript,
    historyBackScript: typeof historyBackScript !== 'undefined' && historyBackScript,
    devToolsStyles: typeof devToolsStyles !== 'undefined' ? devToolsStyles : true
  }) %>
</head>
<body<% if (typeof bodyClass !== 'undefined' && bodyClass) { %> class="<%= bodyClass %>"<% } %>>
  <%- include('partials/navbar') %>
  <%- body %>
  <%- include('partials/site-footer') %>
  <% if (typeof isDev !== 'undefined' && isDev) { %>
  <%- include('partials/dev-tools') %>
  <% } %>
</body>
</html>
